* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------------- INICIO HEADER LOGIN --------------------- */

.headerLogin {
    width: 99.5%;
    height: 75px;
    background: var(--verdeEscuro); /* Verde igual ao da barra superior */
    margin: 5px;
    align-content: center;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.15);
}

.nav-links-wrapper a:nth-of-type(1) { 
  grid-column: 3 / span 2;
  background-color: white; 
  color: black;
}

.nav-links-wrapper a:nth-of-type(4) { /* Login/Cadastro */
  grid-column: 9 / span 2; 
  background-color: var(--laranja);
  color: rgb(255, 255, 255);
}

/* --------------------- FIM HEADER LOGIN --------------------- */

/* --------------------- LAYOUT PRINCIPAL --------------------- */

body {
  margin: 85px 5px;
  font-family: var(--font-body);
}

.layout {
  display: flex;
  align-items: start;
}

/* --------------------- FIM LAYOUT PRINCIPAL --------------------- */

/* --------------------- SIDEBAR PRINCIPAL --------------------- */

.sidebar {
  background: var(--verdeEscuro);
  border-radius: 10px;
  padding: 20px 0;
  width: 600px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  box-sizing: border-box;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.15);
}

.sidebar-photo img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar-name {
  font-size: 25px;
  margin-top: 10px;
  font-weight: 500;
  font-family: var(--font-heading);
  text-transform: uppercase;
  cursor: default;
}

.infoUsuario {
  margin-top: 3px;
  color: #b6b6b6;
  font-size: 14px;
  cursor: default;
  a {
    text-decoration: none;
    color: #b6b6b6;
    font-size: 12px;
    cursor: pointer;
    &:hover {
      color: #d1d1d1;
      text-decoration: underline;
    }
  }
}

.menuPainel {
    display: flex;            
    justify-content: space-between; 
    align-items: center;      
    padding: 10px 15px;       
    cursor: pointer;
}

.menuPainel h2 {
    margin: 0;                
    font-size: 1.2rem;    
}

.menuPainel:hover {
    border-left: 3px solid rgb(255, 255, 255);
    background-color: var(--verdeClaro);
    border-radius: 0 8px 8px 0;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  }

#burgao{
  text-align: right;
  padding: 8px;
  cursor: pointer;
}

#itens {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.7s ease-in-out, opacity 0.4s ease-in-out;
}

#itens.aberto {
    max-height: 500px; 
    opacity: 1;
}


.divisor {
  border: none;
  border-top: 1px solid var(--verdeClaro);
  margin: 15px 10px;
}

.perfil-menu ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.item-menu {
  padding: 12px 0 12px 20px;
  cursor: pointer;
  &:hover {
    margin-right: 20px;
    border-left: 3px solid rgb(255, 255, 255);
    background-color: var(--verdeClaro);
    border-radius: 0 8px 8px 0;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  }
}

.item-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}

.item-menu.ativo {
  font-weight: bold;
}

.perfil-footer {
  margin-top: auto;
  margin-bottom: 0px;
  &:hover{
    transform: translateY(-2px);
  }
}

.btn-sair {
  background: var(--laranja);
  padding: 10px 50px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.15);
}

.btn-sair:hover {
  box-shadow: 3px 5px 6px rgba(0,0,0,0.2);
}

/* --------------------- FIM SIDEBAR PRINCIPAL --------------------- */

/* --------------------- COLUNA CENTRAL --------------------- */

.conteudo {
  width: 100%;
  margin: 0 8px;
}

.eventoInscrito h4 {
  font-size: 22px;
  font-weight: 500;
  margin-top: 3px;
  margin-bottom: 8px;
  cursor: default;
}

.eventosPassados h4 {
  font-size: 22px;
  font-weight: 500;
  margin-top: 3px;
  margin-bottom: 8px;
  cursor: default;
}

.caixaPassados {
  display: flex;
  background-color: var(--azul);
  margin: 0;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 10px;
  height: 250px;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.15);
}

.caixaPassados img {
  border-radius: 8px;
  object-fit: fill;
}

.tituloEvento {
  margin: 0;
  margin-top: 10px;
  font-size: 40px;
  cursor: default;
}

.infoCard {
  display: block;
}

.textoEvento {
  margin-top: 10px;
}

.passadosInfo {
  cursor: default;
  width: 100%;
  height: 100%;
  margin-left: 10px;
  display: grid;
}

.botoesEventos {
  display: flex;
  width: 100%;
  margin-top: auto;
  margin-bottom: 1px;
  justify-content: end;
  gap: 15px;
}

.btnPassados {
  display: flex;
  width: 100%;
  margin-top: auto;
  margin-bottom: 1px;
  justify-content: end;
  gap: 15px;
}

.btnEventoInfo {
  margin: 0;
  border-radius: 10px;
}

.recibo {
  background-color: var(--azul);
  box-shadow: none;
  cursor: default;
  &:hover {
    box-shadow: none;
    transform: none;
  }
}

.recibo a {
  color: white;
  font-weight: 800;
  &:hover {
    color: white;
    text-decoration: underline;
  }
}

.fotos {
  background-color: var(--verdeClaro);
  border-radius: 10px;
}

.btnResultado {
  padding: 10px 0;
  width: 175px;
  height: 44px;
  background-color: var(--laranja);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  &:hover{  
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
  }
}

.btnResultado a {
  color: white;
  text-decoration: none;
}

/* --------------------- FIM COLUNA CENTRAL --------------------- */

/* --------------------- COLUNA DA DIREITA --------------------- */

aside {
  margin: 0;
}

.calendarPerfil {
  background-color: var(--verdeEscuro);
  box-shadow: 3px 3px 6px rgba(0,0,0,0.15);
  border-radius: 12px;
  overflow: hidden;
  width: 350px;
}

aside h4 {
  font-weight: 500;
  font-family: var(--font-heading);
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
  margin-top: 3px;
  margin-bottom: 8px;
}

/* Grid dos Dias */
.calendarPerfil__date {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
  box-sizing: border-box;
}

/* Letras dos Dias */
.calendarPerfil__day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-weight: bold;
  color: var(--verdeClaro);
}

/* Números dos Dias (Botões) */
.calendarPerfil__number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  font-weight: 200;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.calendarPerfil__number:hover {
  background-color: #e0e0e0;
}

/* Para dias do mês anterior/posterior  */
.calendarPerfil__number.inactive {
  background-color: var(--verdeEscuro);
  cursor: auto;
  box-shadow: none;
}

/* Dias de evento em azul */
.calendarPerfil__number.event-blue {
  background-color: var(--azul);
  color: #ffffff;
  font-weight: 600;
  &:hover {
    background-color: #014899;
  }
}

/* Dias de evento em vermelho/marrom */
.calendarPerfil__number.event-red {
  background-color: #cd6116; /* Tom de marrom/vermelho */
  color: #ffffff;
  font-weight: 600;
}

.calendarPerfil__events {
  background-color: var(--azul);
}

/* Título "Eventos" */
.calendarPerfil__events h3 {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 300;
  padding: 10px;
}

/* Item individual do evento */
.calendarPerfil__event-item {
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  padding: 12px 10px;
  border-top: 1px solid #007bff;
  cursor: pointer;
}

.calendarPerfil__event-item:hover {
  background-color: #014899;
  text-decoration: underline;
  cursor: pointer;
}

/* --------------------- FIM COLUNA DA DIREITA --------------------- */


/* botão tema escuro */

.trilho {
  width: 60px;
  height: 30px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  top: 24px;
  right: 250px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7px;
  box-sizing: border-box;
}

.icone-sol,
.icone-lua {
  color: #1f1f1f;
  font-size: 14px;
  line-height: 1;
  pointer-events: none;
  user-select: none;
}

.indicador {
  width: 22px;
  height: 22px;
  background-color: #1f1f1f;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: 0.3s;
  z-index: 2;
}

.trilho.ativo {
  background-color: #444;
}

.trilho.ativo .indicador {
  left: 34px;
}

/* Cores do tema escuro da pagina */

body.dark {
  background-color: #121212;
  color: #ffffff;
}

body.dark .headerLogin {
  background: #1f1f1f;
}

body.dark .nav-links-wrapper a:nth-of-type(1) {
  background-color: white;
  color: #1f1f1f;
}

body.dark .nav-links-wrapper a:nth-of-type(2),
body.dark .nav-links-wrapper a:nth-of-type(3) {
  background-color: white;
  color: #1f1f1f;
}

body.dark .nav-links-wrapper a:nth-of-type(4) {
  background-color: var(--azul);
  color: white;
}

body.dark .nav-search {
  background-color: white;
}

body.dark .nav-search::placeholder {
  color: #cfcfcf;
}

body.dark .sidebar {
  background: #1f1f1f;
  color: white;
}

body.dark .infoUsuario {
  color: #cfcfcf;
}

body.dark .infoUsuario a {
  color: #cfcfcf;
}

body.dark .menuPainel:hover,
body.dark .item-menu:hover {
  background-color: #2d2d2d;
  border-left: 3px solid white;
}

body.dark .divisor {
  border-top: 1px solid #444;
}

body.dark .caixaPassados {
  background-color: #1f1f1f;
  color: white;
}

body.dark .btnResultado {
  background-color: var(--laranja);
}

body.dark .calendarPerfil {
  background-color: #1f1f1f;
}

body.dark .calendarPerfil__day {
  color: var(--azul);
}

body.dark .calendarPerfil__number {
  background-color: #2b2b2b;
  color: white;
}

body.dark .calendarPerfil__number.event-blue {
  background-color: var(--azul);
  color: #ffffff;
}

body.dark .calendarPerfil__number.event-blue:hover {
  background-color: #014899;
}

body.dark .calendarPerfil__number:hover {
  background-color: #3a3a3a;
}

body.dark .calendarPerfil__number.inactive {
  background-color: #1f1f1f;
}

body.dark aside h4 {
  color: white;
}

body.dark .calendarPerfil__events {
  background-color: #0f4d9c;
}

/* Uma transição suave para o tema escuro */
body,
header,
input,
a,
section,
div,
aside,
main,
footer {
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

@media screen and (max-width: 1750px) {

  .passadosInfo {
    display: flex;
  }


  .infoCard {
    width: 65%;
  }


  .btnPassados {
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: end;
    gap: 8px;
  }

  .tituloEvento {
    margin-top: 0;
    font-size: 35px;
    line-height: 102%;
  }
}

@media screen and (max-width: 425px) {

  * {
    max-height: none;
  }

  header {
    position: relative;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .headerLogin {
    position: relative;
    height: 75px;
    width: calc(100% - 10px);
    margin-bottom: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
  }

  .trilho {
    position: relative;
    top: auto;
    right: auto;
    margin-top: 0;
  }

  .layout {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .perfil-footer {
    display: none;
  }
  .sidebar {
    width: 95%;
  } 

  aside {
    width: 80%;
  }
  
  .conteudo {
    width: 90%;
    margin: 0;
  }

  .sidebar {
    min-height: auto;
  }

  .caixaPassados {
    height: auto;
    min-height: 250px;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .caixaPassados img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .passadosInfo {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 15px;
    width: 100%;
  }

  .infoCard {
    width: 100%;
  }

  .btnPassados {
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
    align-self: center;
  }

  .btnEventoInfo, 
  .btnResultado {
    width: 100%;
    margin: 0;
  }

  .tituloEvento {
    font-size: 26px;
    line-height: 1.1;
  }

  .calendarPerfil {
    width: 100%;
    margin-bottom: 10px;
  }

  .calendarPerfil__date {
    padding: 10px;
    grid-gap: 2px;
  }

  body.dark .nav-links-wrapper a:nth-of-type(1) {
    background-color: #1f1f1f;
    color: white;
  }

  body.dark .nav-links-wrapper a:nth-of-type(2),
  body.dark .nav-links-wrapper a:nth-of-type(3) {
    background-color: #1f1f1f;
    color: white;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
   * {
    max-height: none;
  }

  header {
    position: relative;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .headerLogin {
    position: relative;
    height: 75px;
    width: calc(100% - 10px);
    margin-bottom: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
  }

  .trilho {
    position: relative;
    top: auto;
    right: auto;
    margin-top: 0;
  }


  .layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .perfil-footer {
    display: none;
  }

  .sidebar {
    width: 90%;
  }
  .conteudo {
    width: 75%;
    margin: 0;
  }

  aside {
    width: 80%;
  }

  .sidebar {
    min-height: auto;
  }

  .caixaPassados {
    height: auto;
    min-height: 250px;
    flex-direction: column;
  }

  .caixaPassados img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .passadosInfo {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 15px;
    width: 100%;
  }

  .infoCard {
    width: 100%;
  }

  .btnPassados {
    display: flex;
    align-self: center;
    flex-direction: row;
    width: 100%;
    gap: 5px;
    margin-top: 20px;
    align-items: center;
  }

  .btnEventoInfo, 
  .btnResultado {
    width: 100%;
    margin: 0;
  }

  .calendarPerfil {
    width: 100%;
    margin-bottom: 10px;
  }

  body.dark .nav-links-wrapper a:nth-of-type(1) {
    background-color: #1f1f1f;
    color: white;
  }

  body.dark .nav-links-wrapper a:nth-of-type(2),
  body.dark .nav-links-wrapper a:nth-of-type(3) {
    background-color: #1f1f1f;
    color: white;
  }
}