* {
    max-width: 100%;
    max-height: 100vh;
}

/* --------------------- INICIO HEADER LOGIN --------------------- */

.headerLogin {
    width: 99.5%;
    height: 75px;
    background: var(--verdeEscuro); /* Verde igual ao da barra superior */
    margin: 5px;
    align-content: center;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.15);
}

.nav-links-wrapper a:nth-child(1) { 
  grid-column: 3 / span 2;
  background-color: white; 
  color: black;
}

.nav-links-wrapper a:nth-child(4) { /* Login/Cadastro */
  grid-column: 9 / span 2; 
  background-color: var(--laranja);
  color: rgb(255, 255, 255);
}

/* --------------------- FIM HEADER LOGIN --------------------- */


/* --------------------- INICIO LOGIN PRINCIPAL --------------------- */

.cadastroPrincipal {
    max-width: 860px;
    margin: 200px auto 60px auto;  /* ↓↓↓ MAIS DISTÂNCIA DO TOPO */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 0 20px;
}

/* --------------------- FIM LOGIN PRINCIPAL --------------------- */


/* --------------------- INICIO CAMPOS DO LOGIN --------------------- */

.camposDeCadastro {
    width: 380px;
    display: flex;
    flex-direction: column;
}

.camposDeCadastro h3 {
    color: var(--verdeEscuro);
    margin-bottom: 8px;
}

.camposDeCadastro h4 {
    font-weight: var(--weight-bold);
    color: var(--verdeEscuro);
    margin-bottom: 4px;
}

.camposDeCadastro input {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid var(--verdeEscuro);
    outline: none;
    width: 100%;
    font-size: 15px;
    &:hover {
    border: 2px solid var(--verdeEscuro);
    }
}


.politica {
    margin-top: 5px;
    color: var(--verdeEscuro);
    font-size: 13px;
}

.logarConta {
    margin-top: 10px;
    font-size: 18px;
    color: var(--verdeEscuro);
}

.camposDeCadastro p a {
    color: var(--laranja);
    font-weight: var(--weight-bold);
    text-decoration: underline;
}

.fontPlaceholder::-webkit-input-placeholder {
  font-family: 'Exo 2', Arial, Helvetica, sans-serif;
  color: rgb(189, 189, 189);
}

.fontPlaceholder:-ms-input-placeholder {
  font-family: 'Exo 2', Arial, Helvetica, sans-serif;
  color: rgb(189, 189, 189);
}

.fontPlaceholder:-moz-placeholder {
  font-family: 'Exo 2', Arial, Helvetica, sans-serif;
  color: rgb(189, 189, 189);
}

.fontPlaceholder::-moz-placeholder {
  font-family: 'Exo 2', Arial, Helvetica, sans-serif;
  color: rgb(189, 189, 189);
}


.msg-erro {
  color: red;
  font-size: 12px;
  font-weight: 600;
  display: none; /* Começa invisível */
  text-align: left;
}

.input-invalido {
  border: 2px solid red !important;
  background-color: #ffe6e6; /* Fundo avermelhado suave */
}


/* --------------------- FIM CAMPOS DO LOGIN --------------------- */

/* --------------------- INICIO BOTÃO DE LOGIN --------------------- */

.buttonCadastro {
    width: 100%;
    padding: 12px 0;
    text-align: center;
    background: linear-gradient(to right, #CCFF00, #FFFF00);
    color: var(--verdeEscuro);
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s ease-in-out;
    text-decoration: none;
}

.buttonCadastro:hover {
    background: linear-gradient(to right, #FFFF00, #CCFF00); ;
}

.inputBorder::-webkit-input-placeholder {
  font-family: 'Exo 2', Arial, Helvetica, sans-serif;
  color: rgb(189, 189, 189);
}

.inputBorder:-ms-input-placeholder {
  font-family: 'Exo 2', Arial, Helvetica, sans-serif;
  color: rgb(189, 189, 189);
}

.inputBorder:-moz-placeholder {
  font-family: 'Exo 2', Arial, Helvetica, sans-serif;
  color: rgb(189, 189, 189);
}

.inputBorder::-moz-placeholder {
  font-family: 'Exo 2', Arial, Helvetica, sans-serif;
  color: rgb(189, 189, 189);
}



/* --------------------- FIM BOTÃO DE LOGIN --------------------- */

/* --------------------- INICIO IMAGEM DO LOGIN --------------------- */

.imgCadastro img {
    width: 415px;
    height: 585px;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
}
/* --------------------- FIM IMAGEM DO LOGIN --------------------- */


/* --------------------- INCIO DA RESPONSIVIDADE --------------------- */

@media (max-width: 900px) {
    .cadastroPrincipal {
        flex-direction: column;
        text-align: center;
    }

    .imgCadastro img {
        width: 90%;
        height: auto;
    }

    .camposDeCadastro {
        width: 100%;
        max-width: 380px;
    }
}

/* --------------------- FIM DA RESPONSIVIDADE --------------------- */
