* {
    max-width: 99.5%;
    max-height: 100vh;
}


/* --------------------- HEADER LOGIN --------------------- */

.headerLogin {
    width: 100%;
    height: 90px;
    background: var(--verdeEscuro); /* Verde igual ao da barra superior */
    margin: 5px;
    align-content: center;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.15);
}

.nav-links-wrapper a:nth-child(1) { 
  grid-column: 3 / span 2;
  background-color: white; 
  color: black;
}

.nav-links-wrapper a:nth-child(4) { /* Login/Cadastro */
  grid-column: 9 / span 2; 
  background-color: var(--laranja);
  color: rgb(255, 255, 255);
}


/* --------------------- LOGIN PRINCIPAL --------------------- */

.loginPrincipal {
    max-width: 1200px;
    margin: 140px auto 60px auto;  /* ↓↓↓ MAIS DISTÂNCIA DO TOPO */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 0 20px;
}

/* --------------------- CAMPOS DO LOGIN --------------------- */

.camposDeLogin {
    width: 380px;
    display: flex;
    flex-direction: column;
}

.camposDeLogin h3 {
    color: var(--verdeEscuro);
    margin-bottom: 36px;
}

.camposDeLogin h4 {
    margin: 0 0 4px;
    color: var(--verdeEscuro);
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 5%;
}

.camposDeLogin input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--verdeEscuro);
    outline: none;
    width: 100%;
    font-size: 15px;
    &:hover {
    border: 2px solid var(--verdeEscuro);
    }
}

.camposDeLogin a[href="#"]:not(:last-of-type) {
    margin-top: 15px;
    padding: 10px 0;
    text-align: center;
    border-radius: 6px;
    font-weight: var(--weight-bold);
    text-decoration: none;
    transition: 0.2s;
}

.camposDeLogin a[href="#"]:not(:last-of-type):hover {
    filter: brightness(0.9);
}

.politica {
    margin-top: 5px;
    color: var(--verdeEscuro);
    font-size: 13px;
}

.criarConta {
    margin-top: 10px;
    font-size: 18px;
    color: var(--verdeEscuro);
}

.camposDeLogin p a {
    color: var(--laranja);
    font-weight: var(--weight-bold);
    text-decoration: none;
}


/* --------------------- BOTÃO DE LOGIN --------------------- */

.buttonLogin {
    width: 100%;
    padding: 12px 0;
    text-align: center;
    background: linear-gradient(to right, #CCFF00, #FFFF00);
    color: var(--verdeEscuro);
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 18px;
    transition: 0.5s ease-in;
    text-decoration: none;
}

.buttonLogin:hover {
    background: linear-gradient(to right, #FFFF00, #CCFF00);
    
}

.buttonLogin:active {
    transform: translateY(1px);
    filter: brightness(0.85);
}

.inputUser::-webkit-input-placeholder {
  font-family: 'Exo 2', Arial, Helvetica, sans-serif;
  color: rgb(189, 189, 189);
}

.inputUser:-ms-input-placeholder {
  font-family: 'Exo 2', Arial, Helvetica, sans-serif;
  color: rgb(189, 189, 189);
}

.inputUser:-moz-placeholder {
  font-family: 'Exo 2', Arial, Helvetica, sans-serif;
  color: rgb(189, 189, 189);
}

.inputUser::-moz-placeholder {
  font-family: 'Exo 2', Arial, Helvetica, sans-serif;
  color: rgb(189, 189, 189);
}

.inputSenha::-webkit-input-placeholder {
  font-family: 'Exo 2', Arial, Helvetica, sans-serif;
  color: rgb(189, 189, 189);
}

.inputSenha:-ms-input-placeholder {
  font-family: 'Exo 2', Arial, Helvetica, sans-serif;
  color: rgb(189, 189, 189);
}

.inputSenha:-moz-placeholder {
  font-family: 'Exo 2', Arial, Helvetica, sans-serif;
  color: rgb(189, 189, 189);
}

.inputSenha::-moz-placeholder {
  font-family: 'Exo 2', Arial, Helvetica, sans-serif;
  color: rgb(189, 189, 189);
}

/* --------------------- IMAGEM DO LOGIN --------------------- */

.imgLogin img {
    width: 415px;
    height: 585px;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
}

/* --------------------- RESPONSIVIDADE --------------------- */

@media (max-width: 900px) {
    .loginPrincipal {
        flex-direction: column;
        text-align: center;
    }

    .imgLogin img {
        width: 90%;
        height: auto;
    }

    .camposDeLogin {
        width: 100%;
        max-width: 380px;
    }
}