@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap");

:root {
  --azul: #0058bc;
  --verdeClaro: #3b7c2e;
  --verdeEscuro: #2c6422;
  --laranja: #cd6116;

  /* Font Families */
  --font-heading: "Russo One", sans-serif;
  --font-body: "Exo 2", sans-serif;

  /* Font Weights */
  --weight-extralight: 200; /* Para "Label" */
  --weight-regular: 400; /* Para "Paragraph" */
  --weight-bold: 600; /* Para "Button" */
}

/* --------------------- INICIO HEADER LOGIN --------------------- */

.headerLogin {
  width: 100%;
  background: var(--verdeEscuro);
  padding: 15px 0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

.headerLogin nav {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.headerLogin .nav-logo {
  width: 140px;
}

.headerLogin .nav-links-wrapper {
  display: flex;
  gap: 20px;
}

.headerLogin .nav-links-wrapper a {
  padding: 8px 20px;
  background: white;
  border-radius: 50px;
  color: var(--verdeEscuro);
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s;
}

.headerLogin .nav-links-wrapper a:hover {
  background: #ceecc6;
}

.headerLogin .nav-search {
  padding: 8px 15px;
  border-radius: 50px;
  border: none;
  width: 180px;
}

/* --------------------- FIM HEADER LOGIN --------------------- */

/* --------------------- LAYOUT PRINCIPAL --------------------- */

body {
  margin: 0;
  font-family: var(--font-body);
  background: #f2f6ff;
}

.layout {
  display: grid;
  grid-template-columns: 390px 1fr 380px;
  gap: 20px;
  padding: 20px;
  height: 100%;
  align-items: start;
}

/* --------------------- FIM LAYOUT PRINCIPAL --------------------- */

/* --------------------- SIDEBAR PRINCIPAL --------------------- */

.sidebar {
  background: var(--verdeEscuro);
  border-radius: 10px;
  padding: 20px 15px;
  color: #fff;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  box-sizing: border-box;
}

.sidebar-photo img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar-name {
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.divisor {
  border: none;
  border-top: 1px solid #ffffff60;
  margin: 15px 0;
}

.perfil-menu ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.item-menu {
  padding: 12px 0;
}

.item-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}

.item-menu.ativo a {
  font-weight: bold;
}
.perfil-footer {
  margin-top: auto;
  width: 100%;
  margin-bottom: 20px;
}

.btn-sair {
  display: inline-block;
  background: var(--laranja);
  padding: 10px 40px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  transition: 0.2s;
  margin: 0;
}

.btn-sair:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  color: var(--laranja);
  background-color: #ffffff;
  border: 2px solid var(--laranja);
  color: var(--laranja);
}

/* --------------------- FIM SIDEBAR PRINCIPAL --------------------- */

/* --------------------- COLUNA CENTRAL --------------------- */

.conteudo {
  width: 100%;
}

.proximosEventos h4 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 0;
}

.caixaEventos {
  display: flex;
  background: var(--azul);
  border-radius: 15px;
  box-shadow: 0 0 10px #00000020;
  margin-bottom: 20px;
  padding: 12px;
  gap: 15px;
  font-family: var(--font-body);
  color: white;
}

.caixaEventos img {
  width: 180px;
  border-radius: 10px;
}

.caixaEventos__info h4 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}
.text-h4 {
  margin-top: 0;
}

.textEvent {
  font-family: var(--font-body);
}

.caixaEventos p {
  color: #ffffff;
  margin: 3px 0;
  font-size: 1rem;
}
/* Data */
.caixaEventos p:nth-of-type(1)::before {
  content: "📅"; 
  margin-right: 3px;
  font-size: 1.2rem;
}
/* Local */
.caixaEventos p:nth-of-type(2)::before {
  content: "📍";
  margin-right: 3px;
  font-size: 1.2rem;
}
/* Distância */
.caixaEventos p:nth-of-type(3)::before {
  content: "🏃"; 
  margin-right: 3px;
  font-size: 1.2rem;
}

.btn-Rotas a {
  display: inline-block;
  background: var(--laranja);
  padding: 8px 25px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
  transition: 0.2s;
  margin: 0;
}

.btn-Rotas a:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  color: var(--laranja);
  background-color: #ffffff;
  border: 1px solid var(--laranja);
  color: var(--laranja);
}

/* --------------------- FIM COLUNA CENTRAL --------------------- */

/* --------------------- COLUNA DA DIREITA --------------------- */

.calendar {
  position: relative;
  background-color: var(--verdeEscuro);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 0;
}

/* Grid dos Dias */
.calendar__date {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
  box-sizing: border-box;
}

/* Letras dos Dias */
.calendar__day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-weight: bold;
  color: #ffffff;
}

/* Números dos Dias (Botões) */
.calendar__number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  font-weight: 200;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.calendar__number:hover {
  background-color: #e0e0e0;
}

/* Para dias do mês anterior/posterior  */
.calendar__number.inactive {
  background-color: var(--verdeEscuro);
  cursor: auto;
  box-shadow: none;
}

/* Dias de evento em azul */
.calendar__number.event-blue {
  background-color: #0058bc;
  color: #ffffff;
  font-weight: 600;
}

/* Dias de evento em vermelho/marrom */
.calendar__number.event-red {
  background-color: #cd6116; /* Tom de marrom/vermelho */
  color: #ffffff;
  font-weight: 600;
}

.calendar__events {
  background-color: var(--azul);
}

/* Título "Eventos" */
.calendar__events h3 {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 300;
  padding: 10px;
}

/* Item individual do evento */
.calendar__event-item {
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  padding: 12px 10px;
  border-top: 1px solid #007bff;
  cursor: pointer;
}

.calendar__event-item:hover {
  background-color: var(--verdeEscuro);
  cursor: pointer;
}

/* --------------------- FIM COLUNA DA DIREITA --------------------- */
