* {
    max-width: 100%;
    max-height: 100vh;
}

/* --------------------- INICIO HEADER LOGIN --------------------- */

.headerLogin {
    width: 99.5%;
    height: 75px;
    background: var(--verdeEscuro); /* Verde igual ao da barra superior */
    margin: 5px;
    align-content: center;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.15);
}

.nav-links-wrapper a:nth-child(1) { 
  grid-column: 3 / span 2;
  background-color: white; 
  color: black;
}

.nav-links-wrapper a:nth-child(4) { /* Login/Cadastro */
  grid-column: 9 / span 2; 
  background-color: var(--laranja);
  color: rgb(255, 255, 255);
}

/* --------------------- FIM HEADER LOGIN --------------------- */

/* --------------------- LAYOUT PRINCIPAL --------------------- */

body {
  margin: 85px 5px;
  font-family: var(--font-body);
}

.layout {
  display: flex;
  align-items: start;
}

/* --------------------- FIM LAYOUT PRINCIPAL --------------------- */

/* --------------------- SIDEBAR PRINCIPAL --------------------- */

.sidebar {
  background: var(--verdeEscuro);
  border-radius: 10px;
  padding: 20px 0;
  width: 600px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  box-sizing: border-box;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.15);
}

.sidebar-photo img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar-name {
  font-size: 25px;
  margin-top: 10px;
  font-weight: 500;
  font-family: var(--font-heading);
  text-transform: uppercase;
  cursor: default;
}

.infoUsuario {
  margin-top: 3px;
  color: #b6b6b6;
  font-size: 14px;
  cursor: default;
  a {
    text-decoration: none;
    color: #b6b6b6;
    font-size: 12px;
    cursor: pointer;
    &:hover {
      color: #d1d1d1;
      text-decoration: underline;
    }
  }
}

.divisor {
  border: none;
  border-top: 1px solid var(--verdeClaro);
  margin: 15px 10px;
}

.perfil-menu ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.item-menu {
  padding: 12px 0 12px 20px;
  cursor: pointer;
  &:hover {
    margin-right: 20px;
    border-left: 3px solid white;
    background-color: var(--verdeClaro);
    border-radius: 0 8px 8px 0;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  }
}

.item-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}

.item-menu.ativo {
  font-weight: bold;
}

.perfil-footer {
  margin-top: auto;
  margin-bottom: 0px;
  &:hover{
    transform: translateY(-2px);
  }
}

.btn-sair {
  background: var(--laranja);
  padding: 10px 50px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.15);
}

.btn-sair:hover {
  box-shadow: 3px 5px 6px rgba(0,0,0,0.2);
}

/* --------------------- FIM SIDEBAR PRINCIPAL --------------------- */

/* --------------------- COLUNA CENTRAL --------------------- */

.conteudo {
  width: 100%;
  margin: 0 8px;
}

.eventoInscrito h4 {
  font-size: 22px;
  font-weight: 500;
  margin-top: 3px;
  margin-bottom: 8px;
  cursor: default;
}

.eventosPassados h4 {
  font-size: 22px;
  font-weight: 500;
  margin-top: 3px;
  margin-bottom: 8px;
  cursor: default;
}

.caixaPassados {
  display: flex;
  background-color: var(--azul);
  margin: 0;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 10px;
  height: 250px;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.15);
}

.caixaPassados img {
  border-radius: 8px;
  object-fit: fill;
}

.tituloEvento {
  margin: 0;
  margin-top: 10px;
  font-size: 40px;
  cursor: default;
}

.infoCard {
  display: block;
}

.textoEvento {
  margin-top: 10px;
}

.passadosInfo {
  cursor: default;
  width: 100%;
  height: 100%;
  margin-left: 10px;
  display: grid;
}

.botoesEventos {
  display: flex;
  width: 100%;
  margin-top: auto;
  margin-bottom: 1px;
  justify-content: end;
  gap: 15px;
}

.btnPassados {
  display: flex;
  width: 100%;
  margin-top: auto;
  margin-bottom: 1px;
  justify-content: end;
  gap: 15px;
}

.btnEventoInfo {
  margin: 0;
  border-radius: 10px;
}

.recibo {
  background-color: var(--azul);
  box-shadow: none;
  cursor: default;
  &:hover {
    box-shadow: none;
    transform: none;
  }
}

.recibo a {
  color: white;
  font-weight: 800;
  &:hover {
    color: white;
    text-decoration: underline;
  }
}

.fotos {
  background-color: var(--verdeClaro);
  border-radius: 10px;
}

.btnResultado {
  padding: 10px 0;
  width: 175px;
  height: 44px;
  background-color: var(--laranja);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  &:hover{  
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
  }
}

.btnResultado a {
  color: white;
  text-decoration: none;
}

/* --------------------- FIM COLUNA CENTRAL --------------------- */

/* --------------------- COLUNA DA DIREITA --------------------- */

aside {
  margin: 0;
}

.calendarPerfil {
  background-color: var(--verdeEscuro);
  box-shadow: 3px 3px 6px rgba(0,0,0,0.15);
  border-radius: 12px;
  overflow: hidden;
  width: 350px;
}

aside h4 {
  font-weight: 500;
  font-family: var(--font-heading);
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
  margin-top: 3px;
  margin-bottom: 8px;
}

/* Grid dos Dias */
.calendarPerfil__date {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
  box-sizing: border-box;
}

/* Letras dos Dias */
.calendarPerfil__day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-weight: bold;
  color: var(--verdeClaro);
}

/* Números dos Dias (Botões) */
.calendarPerfil__number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  font-weight: 200;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.calendarPerfil__number:hover {
  background-color: #e0e0e0;
}

/* Para dias do mês anterior/posterior  */
.calendarPerfil__number.inactive {
  background-color: var(--verdeEscuro);
  cursor: auto;
  box-shadow: none;
}

/* Dias de evento em azul */
.calendarPerfil__number.event-blue {
  background-color: var(--azul);
  color: #ffffff;
  font-weight: 600;
  &:hover {
    background-color: #014899;
  }
}

/* Dias de evento em vermelho/marrom */
.calendarPerfil__number.event-red {
  background-color: #cd6116; /* Tom de marrom/vermelho */
  color: #ffffff;
  font-weight: 600;
}

.calendarPerfil__events {
  background-color: var(--azul);
}

/* Título "Eventos" */
.calendarPerfil__events h3 {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 300;
  padding: 10px;
}

/* Item individual do evento */
.calendarPerfil__event-item {
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  padding: 12px 10px;
  border-top: 1px solid #007bff;
  cursor: pointer;
}

.calendarPerfil__event-item:hover {
  background-color: #014899;
  text-decoration: underline;
  cursor: pointer;
}

/* --------------------- FIM COLUNA DA DIREITA --------------------- */


@media screen and (max-width: 1750px) {

  .passadosInfo {
    display: flex;
  }


  .infoCard {
    width: 65%;
  }


  .btnPassados {
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: end;
    gap: 8px;
  }

  .tituloEvento {
    margin-top: 0;
    font-size: 35px;
    line-height: 102%;
  }
}