:root {
  --azul: #0058BC;
  --verdeClaro: #3B7C2E;
  --verdeEscuro: #2C6422;
  --laranja: #CD6116;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1040px; 
  margin-left: auto;   
  margin-right: auto;  
  padding-left: 20px;
  padding-right: 20px;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* Cria suas 12 colunas */
  gap: 15px; /* Seu gutter de 15px do Figma */
}


/* Começo NAV */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

nav.container.grid-layout {
  align-items: center;
  padding: 15px 0;
}

.nav-logo {
  grid-column: span 2;
  max-width: 100%;
  height: auto;
}

.nav-links {
  grid-column: span 8;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 15px;
}

.nav-links a {
  grid-column: span 2;
  padding: 10px;
  background-color: white;
  text-decoration: none;
  color: black;
  border-radius: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links a:first-child { /* Apenas o 'Home' */
  background-color: var(--laranja); /* Laranja */
  color: white;
}

.nav-search {
  grid-column: span 2;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 25px;
}

ul li{
    list-style: none;
    
}

/* Final Nav */

body {
    background-color: dimgrey;
}

/* HERO BANNER, NÃO MEXER */

.heroBanner {
  position: relative;
  height: 90vh;
  width: 100%;
  overflow: hidden;
  background-color: #009688;
  transition: box-shadow 200ms;
  &:hover {
    box-shadow: 0 10px 50px -10px rgba(0,0,0,0.25);
  }
}

.slideshow {
  padding: 5px;
	position: relative;
	width: 100%;
  height: 100%;
	&:hover a {
		opacity: 1;
	}
	a {
		opacity: 0;
		position: relative;
		text-decoration: none;
		transition: opacity 0.5s;
		&:after {
			border-color: #FFF #FFF transparent transparent;
			border-style: solid;
			border-width: 2px;
			color: #FFF;
			display: block;
			height: 10px;
			position: absolute;
			top: calc(50% - 5px);
			width: 10px;
		}
		&:first-child:after {
			content: '';
			left: 10px;
			transform: rotate(-135deg);
		}
		&:nth-child(2):after {
			content: '';
			right: 10px;
			transform: rotate(45deg);
		}
	}

	.slide {
		background-color: #FFF;
		box-sizing: border-box;
		display: none;
		position: absolute;
    height: 100%;
		width: 100%;
		&:first-child,
		&:target {
			display: block;
		}
		a {
			display: block;
			height: 100%;
			position: absolute;
			width: 50%;
			&:nth-child(2) {
				left: 50%;
			}
		}
		img {
			width: 100%;
      height: 100%;
      object-fit: cover;
		}
	}
}

.pagination {
  display: flex;
  bottom: 10px;
  justify-content: center;
  position: absolute;
  width: 100%;
  a {
    background: rgba(#FFF,0.75);
    border-radius: 50%;
    display: block;
    height: 10px;
    width: 10px;
    &:not(:last-child) {
      margin-right: 5px;
    }
    span {
      display: none;
    }
  }
}

a:target {
	color: red;
}


/* Final HERO BANNER  */




/* CALENDÁRIO, NÃO MEXER */
.calendar {
  position: relative;
  width: 300px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 5px 50px rgba(#000, 0.5);
  border-radius: 8px;
  overflow: hidden;
}

.calendar__date {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  grid-gap: 10px;
  box-sizing: border-box;
}

.calendar__day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-weight: 600;
  color: #262626;
  
  &:nth-child(7) {
    color: #ff685d;
  }
}

.calendar__number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  color: #262626;

  &:nth-child(7n) {
    color: #ff685d;
    font-weight: 700;
  }
  
  &--current,
  &:hover {
    background-color: #009688;
    color: #fff !important;
    font-weight: 700;
    cursor: pointer;
  }
}

/* FINAL CALENDÁRIO */ 